Xft.dpi: 160

! URxvt config
URxvt.scrollBar: False
URxvt.font: xft:Fira Code:size=10
URxvt.saveLines: 10000

URxvt.perl-ext-common: default,matcher,vtwheel
URxvt.url-launcher: /usr/bin/vivaldi-stable
URxvt.matcher.button: 1

URxvt.lineSpace: 18

URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

URxvt.iso14755: False


!#define rofibg .color0
!#define rofihl .color1
!#define rofifg .color3

!rofi.color-enabled: true
!rofi.separator-style: solid
!rofi.color-window: rofibg, rofibg, rofihl
!rofi.color-normal: rofibg, rofifg, rofibg, rofihl, rofifg
!rofi.color-active: rofibg, #268bd2, rofibg, rofihl, #205171
!rofi.color-urgent: rofibg, #f3843d, rofibg, rofihl, #ffc39c

! Use extended color scheme
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   #ffffff,#525d76,#f5f5f5,#5294e2,#ffffff
! Color scheme for urgent row
rofi.color-urgent:                   #ffffff,#dc322f,#f5f5f5,#5294e2,#dc322f
! Color scheme for active row
rofi.color-active:                   #ffffff,#c2cad0,#f5f5f5,#5294e2,#c2cad0
! Color scheme window
rofi.color-window:                   #ffffff,#f5f5f5
! Separator style (none, dash, solid)
rofi.separator-style:                solid


! +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
! title      Nord XResources                                    +
! project    nord-xresources                                    +
! version    0.1.0                                              +
! repository https://github.com/arcticicestudio/nord-xresources +
! author     Arctic Ice Studio                                  +
! email      development@arcticicestudio.com                    +
! copyright  Copyright (C) 2016                                 +
! +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6

